<div class="container">
    <a href="/" class="btn btn-outline-primary mt-5">Back To Home</a>
    <hr>
    <div class="row">
        <div class=" mx-auto col-6">
            <div class="card my-3 shadow-sm">
                <div class="card-img-top bg-secondary text-white d-flex align-items-center justify-content-center" alt="..." style="height: 150px;">
                    <h6>Fake img {{postItem.id}}</h6> 
                </div>
                <div class="card-body">
                    <h5 class="card-title text-muted">{{postItem.title}}</h5>
                    <p class="card-text">{{postItem.body}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
